# Dependencies
node_modules/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
android-signing-secrets/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
.coverage/
.nyc_output/

# Production
public/static/
public/prerendered/